################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/b1/.vs/b1
/b1/Build/Windows
/b1/Binaries/Win64
/b1/Config
/b1/Intermediate
/b1/Saved
/ModsForPack/ItemDesc/b1/Content/00Main/PBTable/Runtime
/CSharpMods/.vs/CSharpMods
/CSharpMods/EffectDetailDescription/.vs
/CSharpMods/EffectDetailDescription/bin
/CSharpMods/EffectDetailDescription/obj
/CSharpMods/Stronger Weapon Compatible/bin/Release
/CSharpMods/Stronger Weapon Compatible/obj/Release
/CSharpMods/StrongerWeaponCompatible/bin/Release
/CSharpMods/StrongerWeaponCompatible/obj/Release
/CSharpMods/ProtobufLoader/bin/Release
/CSharpMods/ProtobufLoader/obj/Release
*.7z
/ModsForPack/EffectDetailDescription/EffectDetailDescription.dll
/ModsForPack/ProtobufLoader/ProtobufLoader.dll
/CSharpMods/*/bin
/CSharpMods/*/obj
/ModsForPack
/CSharpMods/Test/.vs
/CSharpMods/DashengMode/.vs
